@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.header a {
    font-family: 'Arial', sans-serif;
    line-height: 10px;
}