.bg {
  background: url("../../images/about.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.bg h2 {
  font-size: 5rem;
  text-align: center;
  margin-top: 4rem;
}

@media (max-width: 1280px) {
  .bg h2 {
    font-size: 3.2rem;
  }
}

@media (max-width: 540px) {
  .bg h2 {
    font-size: 2.4rem;
  }
}

/* card */
.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
  height: 20vh;
  padding: 10px;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 100;
  line-height: 32px;
}

.card:hover img {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card__description a {
    color: #333;
}

main {
    margin: 8rem 20rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
}

@media(max-width: 1440px) {
    main {
        margin: 2rem 8rem;
    }

    .main-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 991px) {
    main {
        margin: 1rem 2rem;
    }

    .main-card {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 676px) {
    .main-card {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 320px) {
    main {
        margin: 0.5rem 1rem;
    }

    .card {
      width: 240px;
      height: 160px;
    }
}